html{
  background-color: grey;
}
body{
  max-width:1920px;
  height:900px;
  margin:auto;
  font-family:Verdana, sans-serif;
}
#site_header{
  text-align:start;
  border:1px solid black;
}
.dropdown_section{
    display:inline-flex;
    margin-top: 4em;
    margin-left: 8em;
    margin-left:25%;
    visibility: hidden;
}
.dropdown{
  width:10em;
  height:2em;
  margin-top:1em;
  margin-left:1em;
  visibility: hidden;
}
.dropdown_options{
  visibility: hidden;
  list-style: none;
  display:block;
  margin-top:2em;
  padding:0.25em;
  background-color:lightgrey;
  border:1px solid black;
  visibility: hidden;
}
.dropdown_options li:hover{
  background-color:#b3f0ff;
}
.dropdown:hover .dropdown_options{
  visibility: visible;
  visibility: hidden;
}
#quote_button{
  background-color:black;
  border-radius:10px;
  color:white;
  height:6rem;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  margin-left: 3em;
}

#nav_bar{
  border:1px solid #949494;
  background-color: #595959;
}
#nav_bar ul{
  list-style:none;
  display:inline;
  margin:0;

}
.nav_item{

  display:inline;
  padding-left:10%;

}
.nav_item a{
  text-decoration: none;
  color:white;
}
.nav_item a:hover{
text-shadow: 0 2px 2px white;
}
#aside_space{
  height:100%;
  background-color: #e6e6e6;

}
#quote_info{
  margin: 15% auto;
  width:60%;
  border:1px solid black;
  padding-bottom:3em;
  border-radius: 10px;
}
#quote_info span:first-child{
  float:left;
  margin-left:1em;
  font-size: x-large;
  font-family:fantasy;
}
#quote_info span:last-child{
  float:left;
  color:blue;
  margin-left:1.5em;
  font-family:sans-serif;
}
#quote_area{
  font-style: italic;
  font-family: Georgia, sans-serif;
  padding-bottom:2em;
  margin-top:3rem;
  border-left:3px solid black;
  padding-left:1rem;
  height:auto;
}
.col-0{
  width:15%;
  float:left;
  height:100%;
  background-color: #e6e6e6;
  border-right:1px solid black;
}
.col-0 h2{
  font-family: Verdana, sans-serif;
  color:rgba(128, 128, 128, 0.64);
  font-size:1.5em;
  border-bottom:1px solid black;
  text-shadow: 0 2px 2px lightgreen;
  text-align: center;
}
.col-0 p{
  font-family:verdana, sans-serif;
  font-style: italic;
  margin-left:5%;
  text-align: left;
  width:80%;
}
.col-1{
  width:68.3%;
  height:100%;
  float:left;
  background-color:white;
}
.col-2{
  float:right;
  width:16%;
  height:100%;
}
.grid_wrapper:after{
  display:table;
  clear:both;
}
