h1, p, span {
  text-align: center;
}

p {
  margin-bottom: 20vh;
}

img {
  display: inline-block;
  width: 35vw;
  margin-left: 10%;
}

.about_box span {
  position: relative;
  bottom: 3vh;
  left: 30%;
  font-size: 2em;
  font-family: Georgia, sans-serif;
}
