.contact_area {
  position: relative;
  margin: 0 auto;
  margin-top: 3vh;
  box-shadow: 0px 0px 40px 5px white;
  border: 1px solid grey;
  padding: 5vw 5vh;
  width: 40vw;
  height: 40vh;
}

.contact_area h2 {
  position: relative;
  top: -5vh;
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid grey;
}

.contact_area form {
  margin-top: -5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_area form label {
  float: right;
  margin-bottom: 2vh;
  font-size: 1.4em;
  width: 20vw;
  text-align: center;
}

.contact_area form .contact_input {
  margin-bottom: 2vh;
  font-size: 1em;
  width: 20vw;
  text-align: center;
  text-align: start;
  height: 3em;
}

.contact_area form .description {
  height: 10vh;
}

.contact_area form button {
  margin: 0 auto;
  height: 3.5vh;
  width: 7vw;
  border-radius: 10px;
  box-shadow: 0 0 2px 4px white;
}
