html
  background:
    image: url("../img/mobile_gradient_background.jpg")
    repeat: repeat
    position: center

body
  max-width: 800px
  width: 100vw
  height: 100vh
  margin: 0 auto

.nav_bar
  width: 99%
  height: auto
  border: 2px solid black
  background: linear-gradient(to bottom, #3C88C7  0%,#85C0E8  50%,#89c3eb 51%,#d5ebfb 100%)
  .nav_list
    list-style: none
    display: flex
    padding-left: 5%
    .nav_li, a
      font-size: 1.3em
      flex: 1
      color: white
      text-decoration: none



.footer
  background: linear-gradient(to bottom, #d5ebfb 0%,#89c3eb 49%,#abd3ee 50%,#ebf1f6 100%)
  position: absolute
  padding-bottom: 0.5vh
  bottom: 0
  border-top: 1px solid #5592BA
  width: 100%
  height: auto
  font-weight: bold
  text-align: center
  .inputQoD, .inputQoDSource
    font-style: italic
    font-size: 0.8em
