.about_box {
  margin: 0 auto;
  width: 55vw;
  height: auto;
  margin-top: 10vh;
}

.about_box .logo:first-of-type {
  position: relative;
  right: 2.5em;
  margin-left: 50%;
  padding-bottom: 1vh;
  width: 4em;
  height: 4em;
  border-radius: 100%;
}

.about_box img {
  position: relative;
  right: 5em;
  margin-left: 50%;
  width: 10em;
  height: 10em;
  border-radius: 100%;
}

.about_box h1 {
  margin: 0 20% 0 20%;
  padding-bottom: 1vh;
  text-align: center;
  font-family: Verdana, sans-serif;
  border-bottom: 2px solid lightgrey;
  text-shadow: 0 0 2em 3em lightblue;
}

.about_box p {
  font-style: italic;
  font-weight: bold;
  font-family: georgia, sans-serif;
  font-size: 1.2em;
}

.about_box span {
  position: absolute;
  bottom: 26vh;
  left: 26vw;
  font-size: 25px;
  font-family: cursive;
}
