.message h2 {
  text-align: center;
  font-size: 2em;
}

.message p {
  width: 80vw;
  text-align: center;
  margin-left: 10vw;
  margin-bottom: 4vh;
  border-top: 1px solid black;
  padding-top: 2vh;
}

.quote_items {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.quote_items select {
  margin-bottom: 5vh;
}

.quote_items button {
  margin-bottom: 5vh;
}

.quote_items .quote_span, .quote_items .quoteSource {
  font-size: 1.2em;
}

.quote_items .quoteSourceSpan {
  margin-top: 3vh;
}

.quote_items .genQuote {
  font-style: italic;
  margin-bottom: 1vh;
}
