html {
  background-image: url("http://i.imgur.com/oYyv8r8.jpg");
  background-repeat: repeat;
  background-position: center; }

.nav_bar {
  background: linear-gradient(45deg, #aebcbf 0%, #6e7774 50%, #0a0e0a 51%, #0a0809 100%); }
  .nav_bar ul {
    list-style: none;
    margin: 0 15% 0 15%;
    padding-left: 0px; }
    .nav_bar ul li {
      font-size: 2em;
      display: inline;
      font-family: Georgia, sans-serif;
      margin-left: 7.5%;
      margin-right: 7.5%;
      color: rgba(255, 255, 255, 0.5); }
      .nav_bar ul li:nth-child(3), .nav_bar ul li:nth-child(4) {
        color: white;
        animation: borderDraw2 0.5s alternate infinite ease;
        cursor: hand;
        cursor: pointer; }
      .nav_bar ul li:hover {
        animation: borderDraw1 0.5s alternate infinite ease;
        cursor: hand;
        cursor: pointer; }

body {
  max-width: 1600px;
  max-height: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block; }

.gridcontainer {
  box-shadow: 0em 0.5em 5em 1em black;
  width: 100%;
  height: 75%;
  clear: both;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: #dee4e5 !important; }

div[class^='col-'] {
  display: block;
  float: left;
  height: 100%; }

.col-3-12 {
  width: 20%; }
  .col-3-12:first-child h2 {
    text-align: center;
    font-size: 2.2em;
    font-family: "Century Gothic", sans-serif; }
  .col-3-12:first-child p {
    font-size: 1.2em;
    font-style: italic;
    font-family: serif;
    text-align: left;
    margin: 1em 1.2em 0 1.2em;
    word-wrap: break-word;
    border-left: 0.5em solid black;
    line-height: 1.8em;
    padding-left: 1em; }

.col-6-12 {
  width: 60%; }
  .col-6-12 .row-1-2, .col-6-12 .row-2-2 {
    height: 50%; }
  .col-6-12 .row-1-2 {
    text-align: center;
    padding-top: 10%; }
    .col-6-12 .row-1-2 span {
      font-family: verdana, sans-serif;
      font-size: 1.5em; }
    .col-6-12 .row-1-2 select {
      margin-left: 2em;
      padding: 0 1em 0 1em; }
  .col-6-12 .row-2-2 {
    text-align: center;
    display: flex;
    flex-direction: column; }
    .col-6-12 .row-2-2 span:first-child {
      margin-bottom: 2em;
      font-size: 2em;
      font-family: Impact; }
    .col-6-12 .row-2-2 span.quoteSource {
      font-family: Georgia, sans-serif;
      font-style: italic; }

.submitbutton {
  visibility: hidden;
  transition: all 0.5s; }
  .submitbutton:hover {
    transform: scale(1.5); }
  .submitbutton span {
    margin-left: 2em;
    visibility: visible;
    padding: 0.5em 1em;
    border-radius: 2px;
    width: 5em;
    height: 1.5em;
    background-color: lightcyan;
    border: 1px #94ffff;
    transition: 0.5s; }
    .submitbutton span:active {
      border: 1px white; }
    .submitbutton span:hover {
      box-shadow: 0 0 1em 0.5em white; }

.footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
  border-top: 1px solid black;
  background: linear-gradient(to bottom, #dee4e5 0%, #0a0e0a 99%, #6e7774 99%, #000000 100%); }

@keyframes borderDraw1 {
  0% {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none; }
  25% {
    color: rgba(64, 64, 64, 0.5);
    text-shadow: 0 0 0.1em black; }
  50% {
    color: rgba(128, 128, 128, 0.5);
    text-shadow: 0 0 0.3em black; }
  75% {
    color: rgba(192, 192, 192, 0.5);
    text-shadow: 0 0 0.5em black; }
  100% {
    color: white;
    text-shadow: 0 0 0.7em black; } }
@keyframes borderDraw1 {
  0% {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none; }
  25% {
    color: rgba(192, 192, 192, 0.5);
    text-shadow: 0 0 0.1em white; }
  50% {
    color: rgba(128, 128, 128, 0.5);
    text-shadow: 0 0 0.3em white; }
  75% {
    color: rgba(64, 64, 64, 0.5);
    text-shadow: 0 0 0.5em white; }
  100% {
    color: black;
    text-shadow: 0 0 0.7em white; } }

/*# sourceMappingURL=style.css.map */
