html {
  background-color: lightgrey;
}

body {
  max-width: 800px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.nav_bar {
  width: 99%;
  height: auto;
  border: 2px solid black;
  background: linear-gradient(45deg, #aebcbf 0%, #6e7774 45%, #0a0e0a 48%, #0a0809 100%);
}

.nav_bar .nav_list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.nav_bar .nav_list .nav_li, .nav_bar .nav_list a {
  font-size: 1.3em;
  flex: 1;
  color: white;
  text-decoration: none;
}

.footer {
  background-color: grey;
  position: absolute;
  padding-bottom: 0.5vh;
  bottom: 0;
  border-top: 1px solid gray;
  width: 100%;
  height: auto;
  font-weight: bold;
  text-align: center;
}

.footer .inputQoD, .footer .inputQoDSource {
  font-style: italic;
  font-size: 0.8em;
}
